.main-book-content {
  color: #2c3e50;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

.main-book-content p {
  line-height: 1.7;
}

.main-book-content .theme-default-content:not(.custom) img {
    max-width: 100%;
}

.main-book-content h1,
.main-book-content h2,
.main-book-content h3,
.main-book-content h4,
.main-book-content h5,
.main-book-content h6{
    font-weight: 600;
    line-height: 1.25;
}
.main-book-content h1 {
    font-size: 2.2rem
}

.main-book-content h2 {
    font-size: 1.65rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eaecef
}

.main-book-content h3 {
    font-size: 1.35rem
}

.main-book-content ul {
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 10px 20px 10px 30px;
}

.main-book-content a {
  color: #41cd52;
  text-decoration: none;
  position: relative;
}
.main-book-content a.header-anchor {
    font-size: .85em;
    float: left;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
    opacity: 0;
}

.main-book-content a:hover {
  text-decoration: underline;
}
h1:focus .header-anchor, h1:hover .header-anchor, h2:focus .header-anchor, h2:hover .header-anchor, h3:focus .header-anchor, h3:hover .header-anchor, h4:focus .header-anchor, h4:hover .header-anchor, h5:focus .header-anchor, h5:hover .header-anchor, h6:focus .header-anchor, h6:hover .header-anchor {
    opacity: 1;
}

.main-book-content strong {
  color: #35383a;
  font-weight: 700;
}

.main-book-content :not(pre) > code {
    color: #476582;
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: .85em;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
	font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
}

.main-book-content table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 30px;
  margin: 25px 0;
  overflow: auto;
  width: 100%;
}

.main-book-content table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.main-book-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.main-book-content table th,
.main-book-content table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

.main-book-content table th {
  font-weight: 700;
}

.main-book-content pre {
  border-radius: 0;
  line-height: 1.5;
  margin: 23px 0;
  padding: 23px 35px;
  word-break: break-all;
  white-space: break-spaces;
  color: #f8f8f2;
  background: #282c34;
  border: 1px solid #efefef;
  tab-size: 4;
  text-align: left;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
}

.main-book-content pre > code {
  color: #fff;
  max-width: inherit;
  background: none;
  border: 0;
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  overflow: initial;
  padding: 0;
  font-family: monaco, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

.main-book-content pre code .token.keyword {
  color: #cc99cd;
}
.token.class-name, .token.constant, .token.property, .token.symbol {
  color: #f8c555;
}

.main-book-content pre code .token.atrule,
.main-book-content pre code .token.attr-value,
.main-book-content pre code .token.function {
  color: gold;
}

.main-book-content pre code .token.attr-name,
.main-book-content pre code .token.builtin,
.main-book-content pre code .token.char,
.main-book-content pre code .token.inserted,
.main-book-content pre code .token.selector,
.main-book-content pre code .token.string {
  color: #7ec699;
}

.main-book-content pre code .language-css .token.string,
.main-book-content pre code .style .token.string,
.main-book-content pre code .token.entity,
.main-book-content pre code .token.operator,
.main-book-content pre code .token.url,
.main-book-content pre code .token.variable {
  color: #00e0e0;
}

.main-book-content pre code .token.constant,
.main-book-content pre code .token.deleted,
.main-book-content pre code .token.property,
.main-book-content pre code .token.symbol,
.main-book-content pre code .token.tag {
  color: #ffa07a;
}

.main-book-content pre code .token.comment {
  color: #999;
}

.main-book-content pre code .token.boolean,
.main-book-content pre code .token.number {
  color: #00e0e0;
}

.main-book-content blockquote {
  font-size: 16px;
  line-height: 30px;
  border-left: 3px solid #dfe2e5;
  color: #999;
  margin: 20px 0;
  padding: 14px;
  display: block;
}

.main-book-content blockquote p:last-child {
  margin-bottom: 0;
}

.custom-block .custom-block-title {
  font-weight: 600;
  margin-bottom: -.4rem
}

.custom-block.danger,.custom-block.tip,.custom-block.warning {
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0
}

.custom-block.tip {
  background-color: #f3f5f7;
  border-color: #42b983
}

.custom-block.warning {
  background-color: rgba(255,229,100,.3);
  border-color: #e7c000;
  color: #6b5900
}

.custom-block.warning .custom-block-title {
  color: #b29400
}

.custom-block.warning a {
  color: #2c3e50
}

.custom-block.danger {
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000
}

.custom-block.danger .custom-block-title {
  color: #900
}

.custom-block.danger a {
  color: #2c3e50
}

.custom-block.details {
  display: block;
  position: relative;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #eee
}

.custom-block.details h4 {
  margin-top: 0
}

.custom-block.details figure:last-child,.custom-block.details p:last-child {
  margin-bottom: 0;
  padding-bottom: 0
}

.custom-block.details summary {
  outline: 0;
  cursor: pointer
}
