html,body{
	margin: 0;
	padding: 0;
}
.article-content *{
	box-sizing: border-box;
}
.ui.segment:first-child {
    margin-top: 0em;
	color: #636b6f;
    font-family: "Helvetica Neue", NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
}
.ui.segment {
    /*border: 1px solid #d3e0e9;
    box-shadow: 0px 1px 2px 0 rgba(101, 129, 156, 0.08);
    padding: 0 5px 0 5px;*/
}
.extra-padding {
	width: 100%;
	overflow: hidden;
}
h1, h2, h3, h4, h5 {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.2857em;
	font-weight: normal;
    padding: 0em;
}
.editor-preview-active-side h1,
.editor-preview-active-side h2,
.editor-preview-active-side h3,
.editor-preview-active-side h4,
.editor-preview-active-side h5,
.editor-preview-active-side h6,
.editor-preview h1,
.editor-preview h2,
.editor-preview h3,
.editor-preview h4,
.editor-preview h5,
.editor-preview h6,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-reply h1,
.markdown-reply h2,
.markdown-reply h3,
.markdown-reply h4,
.markdown-reply h5,
.markdown-reply h6 {
  position: relative;
  margin-top: 1.0em;
  margin-bottom: 16px;
  line-height: 1.4;
}

.editor-preview-active-side h1,
.editor-preview h1,
.markdown-body h1,
.markdown-reply h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.editor-preview-active-side h2,
.editor-preview h2,
.markdown-body h2,
.markdown-reply h2 {
  padding-bottom: 0.3em;
  font-size: 1.3em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.editor-preview-active-side h3,
.editor-preview h3,
.markdown-body h3,
.markdown-reply h3 {
  font-size: 1.2em;
  line-height: 1.43;
}

.editor-preview-active-side h4,
.editor-preview h4,
.markdown-body h4,
.markdown-reply h4 {
  font-size: 1.1em;
}

.editor-preview-active-side h5,
.editor-preview h5,
.markdown-body h5,
.markdown-reply h5 {
  font-size: 1.0em;
}

.editor-preview-active-side h6,
.editor-preview h6,
.markdown-body h6,
.markdown-reply h6 {
  font-size: 0.9em;
  color: #777;
}
a {
  color: #4183C4;
      text-decoration: none;
}
.article-content p{
	    margin-top: 0;
    margin-bottom: 10px;
    line-height: 30px;
	margin: 0em 0em 1em;
	box-sizing: border-box;
}
.article-content blockquote {
    margin: 20px 0 !important;
    background-color: #f5f8fc;
    padding: 1rem;
    color: #8796A8;
    border-left: none;
	font-size: inherit;
	line-height: 30px;
}
.article-content blockquote p:last-child{
	margin-bottom: 0;
}
.article-content blockquote p{
	margin-top: 0;
    margin-bottom: 10px;
    line-height: 30px;
}

.article-content table{
	display: block;
    width: 100%;
    overflow: auto;
    margin: 25px 0;
	border-collapse: collapse;
    border-spacing: 0;
	line-height: 30px;
}
.article-content table{
	word-wrap:break-word;
	word-break:break-all;
}
.article-content table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.article-content table th {
    font-weight: bold;
}
.article-content table td ,.article-content table th{
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.article-content table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

:not(pre) > code {
    background: rgba(90, 87, 87, 0);
    margin: 5px;
    color: #858080;
    border-radius: 4px;
    background-color: #f9fafa;
    border: 1px solid #e4e4e4;
    max-width: 740px;
    overflow-x: auto;
    font-size: .9em;
    padding: 1px 2px 1px;
	    font-family: monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


code[class*="language-"],
pre[class*="language-"] {
  border-radius: 4px !important;
  color: #f8f8f2;
  background: none;
  text-shadow: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgba(54, 56, 58, 0.98);
}

/* Inline code */

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

span.token {
  line-height: 26px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #66d9ef;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
/*代码自动换行*/
pre[class*="language-"],pre[class*="language-"] code{
white-space: pre-wrap;
word-wrap: break-word;
}
.toc-h1{
	text-align: center;
}
.toc-item{
	list-style: none;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #eaf1f5;
    color: #0088cc;
    line-height: 24px;
}
.toc-group{
	padding: 5px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.toc-title{
	color: #505b63;
    height: 25px;
    line-height: 25px;
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}