*,
::after,
::before {
  box-sizing: border-box;
}

.main-book-content main {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.main-book-content main a {
  text-decoration: none;
  color: #4183c4;
}

.main-book-content main a.header {
  color: #333333;
  text-decoration: none;
}

.main-book-content main img {
  max-width: 100%;
}

.main-book-content .ferris-explain {
  width: 100px;
}

.main-book-content blockquote {
  margin: 20px 0;
  padding: 0 20px;
  color: #333333;
  background-color: #f1f6f9;
  border-top: 0.1em solid #e0ecf1;
  border-bottom: 0.1em solid #e0ecf1;
}

.main-book-content code {
  font-family: 'Source Code Pro', Consolas, 'Ubuntu Mono', Menlo, 'DejaVu Sans Mono', monospace, monospace;
  font-size: 0.875em;
}

.main-book-content table {
  margin: 0 auto;
  border-collapse: collapse;
}

.main-book-content table thead {
  background: #cccccc;
}

.main-book-content table thead tr {
  border: 1px #cccccc solid;
}

.main-book-content table tbody tr:nth-child(2n) {
  background: #f7f7f7;
}

.main-book-content table td {
  padding: 3px 20px;
  border: 1px #f2f2f2 solid;
}

.main-book-content pre {
  position: relative;
}

.main-book-content pre > .buttons {
  display: none;
}

.main-book-content :not(pre) > .hljs {
  display: inline-block;
  vertical-align: middle;
  padding: 0.1em 0.3em;
  border-radius: 3px;
}

.main-book-content :not(pre):not(a) > .hljs {
  color: #6e6b5e;
  overflow-x: initial;
}

.main-book-content a > .hljs {
  color: #4183c4;
}

.main-book-content .hidden {
  display: none;
}

.main-book-content .hide-boring .boring {
  display: none;
}

main .does_not_compile,
main .panics,
main .not_desired_behavior,
body.rust .does_not_compile,
body.rust .panics,
body.rust .not_desired_behavior {
  background: #fff1f1;
}

.main-book-content .ferris {
  position: absolute;
  z-index: 99;
  right: 5px;
  top: 30px;
  width: 10%;
  height: auto;
}
