*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

body {
    background-color: #fff;
    color: #212529;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h1, h1 {
    font-size: 2.5rem;
}

p {
    margin: 1.2em 0;
    padding: 0;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

code, kbd, pre, samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
}

pre {
    border: 1px solid #eee !important;
    border-radius: 4px;
    overflow: auto;
    padding: 8px;
    background-color: #eee;
    white-space: pre-wrap;
    word-wrap: break-word;
}
img {
    vertical-align: middle;
    border-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
img.article {
    display: block;
    margin: 10px auto;
}
pre.prettyprint {
    padding: 2px;
}

.codebox_bar {
    text-align: right;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

article a {
    color: #829993;
}

.codebox_bar .tab {
    color: #fff !important;
    background-color: #9ac046;
    padding: 3px 8px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 90%;
}

article a:not(.btn):visited {
    color: gray;
}
