.str {
    color: #080
}

.kwd {
    color: #008
}

.com {
    color: #800
}

.typ {
    color: #606
}

.lit {
    color: #066
}

.clo,.opn,.pun {
    color: #660
}

.tag {
    color: #008
}

.atn {
    color: #606
}

.atv {
    color: #080
}

.dec,.var {
    color: #606
}

.fun {
    color: red
}