body {
    margin: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    color: #34495e;
    background-color: #fff;
}

h1 {
    margin: 0;
}

.book-main-title {
    margin-bottom: 20px;
}

.menu-group {
    padding-top: 10px;
    border-top: 1px solid #b7aaaa;
}

.menu-group .menu-group-title {
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
}

.menu-group ul, .menu-group li {
    list-style: none;
    display: block;
}

.menu-group ul {
    padding: 0 40px;
    margin: 0;
}

.menu-group li {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #e8e2e2;
}

.menu-group li:last-child {
    border: none;
}

.menu-group li a {
    text-decoration: none;
    padding: 8px 0;
    height: 26px;
    line-height: 26px;
    font-size: 22px;
    color: #42b983;
    font-weight: 500;
    display: block;
}